<div class="container-contact">
  <div class="contact">
    <mat-card class="example-form">
      <form [formGroup]="form">
        <h2>Contactame :</h2>
        <mat-form-field class="example-full-width width_input">
          <mat-label>Nombres</mat-label>
          <input matInput value="" formControlName="name" />
        </mat-form-field>
        <mat-form-field class="example-full-width width_input">
          <mat-label>Correo</mat-label>
          <input matInput value="" formControlName="email" />
        </mat-form-field>
        <mat-form-field class="example-full-width width_input">
          <mat-label>Asunto</mat-label>
          <input matInput value="" formControlName="subject" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="width_input">
          <mat-label>Comentarios</mat-label>
          <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="form.invalid" class="buttonSubmit">
          Enviar
        </button>
      </form>
    </mat-card>
    <img
      class="home-photo"
      src="./assets/photo.png"
      width="300"
      class="home-photo"
    />
  </div>
</div>
