<div class="container-home">


  <div class="home">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-subtitle>Hola mi nombre es : </mat-card-subtitle>
        <mat-card-title>
          <ngx-typed-js 
          [showCursor]="false"
          [loop]="true"
          [typeSpeed]="70"
          [startDelay]="500"
          [fadeOut]="true"
          [strings]="['Joel Josue Soto Zegarra']">
            <h1
            class="typing"
            ></h1>
          </ngx-typed-js>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Estudiante universitario de la carrera de ingenieria de sistemas,
         los siguientes conocimientos fueron obtenidos en mi trayectoria de
         estudiante, practicante y de manera  autodidacta.<br> 
        </p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions class="skills">
        <button mat-button>HTML:5</button>
        <button mat-button>CSS3</button>
        <button mat-button>JAVASCRIPT</button>
        <button mat-button>NODE JS</button>
        <button mat-button>NODE JS</button>
        <button mat-button>NODE JS</button>
        <button mat-button>PHP</button>
      </mat-card-actions>
      <mat-card-content>
        <mat-divider></mat-divider><br>
        <p>
          Me encuentro en la búsqueda de un puesto de trabajo como
          desarrollador web Jr.
          <p>Celular : 945335582 </p>
          <p>Correo : joelsz2018@gmail.com</p>
      </mat-card-content>
    </mat-card>
    <img class="home-photo" src="./assets/photo.png" width="300" class="home-photo"/>
  </div>
</div>
